@media (max-width: 991px) {
    .carousel {
        width: 100%;
    }
}

.row {
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0;
}

ul {
    padding-left: 4rem;
}

/* Adjusting col-md-6 bootstrap class according to requirement. */
.col-md-6{
    margin-bottom: 80px;
}

/*---Food Categories---*/

/* IDs should be empty^^^^ */
.foodCategories {
    padding-top: 1%;
}

#foodCategories img {
    width: 100%;
    height: 15em;
    border-radius: 0.8em;
}

#foodCategories .portfolio-item:hover {
    opacity: 0.8;
    transform: scale(1.04);
    transition: .4s ease-out;
}

#foodCategories h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-top: 0.15em solid black;
    border-bottom: 0.15em solid black;
    color: lightgray;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    /* display: none; remove comment to display on hover */
}

/* Show the category name on col lg 4 when hover above */
#foodCategories .col-lg-4:hover h3 {
    display: block;
}

#foodCategories .card-img-top {
    height: 100%;
    width: 100%;
    margin-top: 10px;
}

#foodCategories .portfolio-item {
    position: relative;
    margin-bottom: 2rem;
}
.main-heading{
    font-size: 36px;
    text-align: center;
    margin: 30px 0 !important;
    line-height: 42px !important;
}

.featherlight .featherlight-image{
    width:600px;
    height:400px;
}

.aboutus-section {
    padding: 90px 0;
}
.aboutus-title {
    font-size: 30px;
    letter-spacing: 0;
    line-height: 32px;
    margin: 0 0 39px;
    padding: 0 0 11px;
    position: relative;
    text-transform: uppercase;
    color: #000;
}
.aboutus-title::after {
    background: #fdb801 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 54px;
}
.aboutus-text {
    color: #606060;
    font-size: 13px;
    line-height: 22px;
    margin: 0 0 35px;
}

a:hover, a:active {
    color: #ffb901;
    text-decoration: none;
    outline: 0;
}
.aboutus-more {
    border: 1px solid #fdb801;
    border-radius: 25px;
    color: #fdb801;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0;
    padding: 7px 20px;
    text-transform: uppercase;
}
.feature .feature-box .iconset {
    background: #fff none repeat scroll 0 0;
    float: left;
    position: relative;
    width: 18%;
}
.feature .feature-box .iconset::after {
    background: #fdb801 none repeat scroll 0 0;
    content: "";
    height: 150%;
    left: 43%;
    position: absolute;
    top: 100%;
    width: 1px;
}

.feature .feature-box .feature-content h4 {
    color: #0f0f0f;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 22px;
    margin: 0 0 5px;
}


.feature .feature-box .feature-content {
    float: left;
    padding-left: 28px;
    width: 78%;
}
.feature .feature-box .feature-content h4 {
    color: #0f0f0f;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 22px;
    margin: 0 0 5px;
}
.feature .feature-box .feature-content p {
    color: #606060;
    font-size: 13px;
    line-height: 22px;
}
.icon {
    color : #f4b841;
    padding:0px;
    font-size:40px;
    border: 1px solid #fdb801;
    border-radius: 100px;
    color: #fdb801;
    font-size: 28px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    width: 70px;
}
