/* Order Page CSS */

.cart-icon {
    font-size: 40px;
    color: #000;
}
.products-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-bottom: 100px;;
}

ion-icon close-circle {
    min-width: 50px;
    min-height: 50px;
}

.image {
    margin-right: 20px;
    margin-left: 20px;
    position: relative;
    overflow: hidden;
}

.add-cart {
    background-color: darkgrey;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    text-align: center;
}

.products-container {
    max-width: 650px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
}

.products-container ion-icon {
    color: #fa3636;
    cursor: pointer;
}

.products-container ion-icon:hover {
    color: #d1d1d1;
}

.product ion-icon {
    padding: 4px 14px;
    margin-right: 10px;
    font-size: 40px;
    max-height: 20px;
    max-width: 20px;
}

.quantity ion-icon {
    padding: 8px;
    margin-left: 4px;
    margin-right: 4px;
    font-size: 25px;
}

.products-container button {
    width: 7em;
    padding: 0.7em;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    background-color: #fa3636;
    box-shadow: 0 2px #000;
    border: none;
    border-radius: 6px;
}

.buy-btn:hover {
    color: #000;
    background-color: #d1d1d1;
}

.product-header {
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid lightgrey;
    margin: 0 auto;
}

.product-title {
    width: 45%;
}

.price {
    width: 15%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
}

.quantity {
    width: 30%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
}

.total {
    width: 10%;
    display: block;
    text-align: right;
    border-bottom: 1px solid lightgray;
}
.total div {
    margin-top: 59%;
}

.product {
    width: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3% 0;
    border-bottom: 1px solid lightgray;
}

.product ion-icon {
    cursor: pointer;
}

.products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.productFonts {
    box-sizing: content-box;
    margin-left: 12%;
    margin-right: 14%;
    width: 100px;
}

.products img {
    width: 22%;
}
.basketTotalContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 0;
}

.basketTotalTitle {
    width: 30%;
}
.basketTotalContainer h4 {
    font-size: 22px;
}
.basketTotal {
    width: 11.5%;
}

@media (max-width: 660px) {
    .product-header h5 {
        font-size: 2.8vw;
    }
    .product ion-icon {
        min-height: 16px;
        min-width: 17px;
    }
    .productFonts {
        font-size: 2.5vw;
        line-height: 154%;
    }
    .product img {
        width: 23%;
        max-width: 50px;
    }
    .price {
        font-size: 2.5vw;
    }
    .quantity {
        font-size: 2.5vw;
    }
    .product-header .quantity {
        padding-left: 5%;
    }
    .total {
        font-size: 2.5vw;
    }
    .basketTotalContainer h4 {
        font-size: 3vw;
    }
}
@media (max-width: 596px) {

    .product img {
        margin-left: -10px;
    }
    .product ion-icon{
        margin-left: -21px;
        width: 0.1px;
        height: 0.1px;
    }
}
@media (max-width: 450px) {

    .product ion-icon {
        min-height: 12px;
        min-width: 14px;
    }
}
